---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import {
	LANGUAGES,
	pathNameIsInLanguage,
	DEFAULT_LANG,
	getLocalizedPathname,
	type UiType,
} from "../i18n/utils";
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
	image?: string;
	lang: string;
}

const canonicalPathname = pathNameIsInLanguage(Astro.url.pathname, DEFAULT_LANG)
	? Astro.url.pathname
	: getLocalizedPathname(Astro.url.pathname, DEFAULT_LANG);
const canonicalURL = new URL(canonicalPathname, Astro.site);

const {
	lang,
	title,
	description,
	image = "/logo-color.jpg",
} = Astro.props;

const alternateLang = Object.keys(LANGUAGES);
const alternateLinks = alternateLang.map((_lang: UiType) => {
	return {
		href: new URL(getLocalizedPathname(Astro.url.pathname, _lang), Astro.site),
		hreflang: _lang,
	};
});
---

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/ns.html?id=GTM-T7CDGRPZ"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'GTM-T7CDGRPZ')
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<link rel="sitemap" href="/sitemap-index.xml" />


<link
  rel="preload"
  href="/fonts/calsans-semibold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/inter.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Alternate URLs -->
{
	alternateLinks.map(({ href, hreflang }) => (
		<link rel="alternate" href={href} hreflang={hreflang} />
	))
}

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Dark mode with prevent flickering flash between navigations -->
<script is:inline>
	const setDarkMode = () => {
	  const theme = (() => {
		if (
		  typeof localStorage !== "undefined" &&
		  localStorage.getItem("theme")
		) {
		  return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		  return "dark";
		}
		return "light";
	  })();
	
	  if (theme === "light") {
		document.documentElement.classList.remove("dark");
	  } else {
		document.documentElement.classList.add("dark");
	  }
	  window.localStorage.setItem("theme", theme);
	};
	
	setDarkMode();
	document.addEventListener("astro:after-swap", setDarkMode);
	</script>
	
<!-- Google Tag Manager -->
<script>
	;(function (w, d, s, l, i) {
	  w[l] = w[l] || []
	  w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
	  var f = d.getElementsByTagName(s)[0],
		j = d.createElement(s),
		dl = l != 'dataLayer' ? '&l=' + l : ''
	  j.async = true
	  j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
	  f.parentNode.insertBefore(j, f)
	})(window, document, 'script', 'dataLayer', 'GTM-T7CDGRPZ')
  </script>
  <!-- End Google Tag Manager -->
  
  <!-- Astro Page Transitions -->
  <ViewTransitions />